{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasprit Bumrah</title>
    <link rel="stylesheet" href="{% static 'css/players' %}">
</head>
<body>
    <header>
        <h1>Jasprit Bumrah</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/bumrah.jpeg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Jasprit Bumrah was born on December 6, 1993, in Ahmedabad, Gujarat, India. He is known for his unorthodox bowling action and incredible bowling skills. Bumrah made his debut for the Indian cricket team in 2016 and quickly became one of the premier fast bowlers in world cricket.
            </p>

            <h2>International Success</h2>
            <p>
                Jasprit Bumrah has been a key figure in India's bowling attack across all formats - Test, One-Day International (ODI), and Twenty20 (T20). His ability to bowl lethal yorkers and deceive batsmen with his pace and variations has made him one of the most difficult bowlers to face in modern cricket.
            </p>

            <h2>Achievements</h2>
            <p>
                Bumrah has achieved numerous records and milestones in his career. He became the first Asian bowler to take five-wicket hauls in Test matches in South Africa, England, Australia, and the West Indies. He has also been a crucial part of India's victories in major tournaments, including the ICC Champions Trophy.
            </p>

            <h2>Injury and Comeback</h2>
            <p>
                Despite facing injury setbacks in his career, Jasprit Bumrah has made remarkable comebacks and continued to be a match-winner for India. His dedication to fitness and constant improvement has earned him admiration from fans and teammates.
            </p>

            <h2>Personal Life</h2>
            <p>
                Jasprit Bumrah keeps his personal life private, and not much is known about his personal relationships and hobbies outside of cricket.
            </p>
        </article>
        <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
    </main>
</body>
</html>
