{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubman Gill</title>
    <link rel="stylesheet" href="{% static 'css/player' %}">
</head>
<body>
    <header>
        <h1>Shubman Gill</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/ShubmanGill.jpeg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Shubman Gill, born on September 8, 1999, in Fazilka, Punjab, India, is a talented right-handed batsman known for his elegant strokeplay and technique. He made his debut for the Indian cricket team in 2019 and has been considered one of the most promising young talents in Indian cricket.
            </p>

            <h2>Playing Style</h2>
            <p>
                Shubman Gill is known for his solid technique and is equally effective against pace and spin bowling. He has the ability to build long innings and has a wide range of shots in his batting arsenal. He has impressed with his calm and composed demeanor at the crease.
            </p>

            <h2>Indian Premier League (IPL)</h2>
            <p>
                In the Indian Premier League (IPL), Shubman Gill represents the Kolkata Knight Riders (KKR). He has been an integral part of the KKR batting lineup and has played some crucial innings for the team.
            </p>

            <h2>International Success</h2>
            <p>
                Shubman Gill has shown great promise in his early international career. He has been part of India's Test team and has played some valuable innings against strong bowling attacks. His performances have drawn praise from cricketing experts and fans alike.
            </p>

            <h2>Personal Life</h2>
            <p>
                Shubman Gill is a private person and keeps his personal life away from the media spotlight. He is known for his dedication to the game and his commitment to improving his skills as a cricketer.
            </p>
        </article>
        <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
    </main>
</body>
</html>
