{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardik Pandya</title>
    <link rel="stylesheet" href="{% static 'css/players' %}">
</head>
<body>
    <header>
        <h1>Hardik Pandya</h1>
    </header>
    <main>
        <article>
            <img src="{%  static 'images/HardikPandya.jpg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Hardik Pandya, born on October 11, 1993, in Choryasi, Surat, India, is an explosive all-rounder known for his powerful hitting and ability to contribute in all aspects of the game. He made his debut for the Indian cricket team in 2016 and quickly became a valuable asset to the side with his aggressive batting and useful bowling.
            </p>

            <h2>International Success</h2>
            <p>
                Hardik Pandya's hard-hitting batting style and useful medium-pace bowling have made him a regular member of the Indian team in all formats - Test, One-Day International (ODI), and Twenty20 (T20). He has played crucial innings and taken important wickets in high-pressure situations, making him a match-winner for India.
            </p>

            <h2>Role in Limited-Overs Cricket</h2>
            <p>
                Hardik Pandya is often used as a finisher in limited-overs cricket, known for his ability to accelerate the run rate and score quick runs in the death overs. His presence in the team has given India much-needed depth in the batting order and balance in the bowling attack.
            </p>

            <h2>Personal Life</h2>
            <p>
                Hardik Pandya has a charismatic personality and is known for his flamboyant style on and off the field. He is often seen sporting trendy hairstyles and is active on social media, where he shares glimpses of his personal life and cricketing journey.
            </p>

            <h2>Controversies</h2>
            <p>
                Hardik Pandya has faced some controversies during his career due to his statements in a television talk show. However, he has learned from those experiences and focused on his cricketing performance, winning back the support of fans and the cricketing fraternity.
            </p>
        </article>
    </main>
</body>
</html>
