{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KL Rahul</title>
    <link rel="stylesheet" href="{% static 'css/players' %}">
</head>
<body>
    <header>
        <h1>KL Rahul</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/kl.jpeg'  %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                KL Rahul, whose full name is Kannur Lokesh Rahul, was born on April 18, 1992, in Mangalore, Karnataka, India. He made his debut for the Indian cricket team in 2014 and has since become one of the most dependable and versatile batsmen in the side. KL Rahul is known for his elegant strokeplay and ability to adapt to different formats of the game.
            </p>

            <h2>International Success</h2>
            <p>
                KL Rahul has represented India in all three formats - Test, One-Day International (ODI), and Twenty20 (T20). He has scored centuries and important runs in challenging conditions, establishing himself as a key member of the team's batting lineup. Rahul has also taken on the wicketkeeping duties for the Indian team in various matches.
            </p>

            <h2>Captaincy</h2>
            <p>
                While KL Rahul has not captained the Indian team on a full-time basis, he has led the side as a stand-in captain in a few matches. His calm and composed demeanor on the field has been appreciated by teammates and fans alike.
            </p>

            <h2>Personal Life</h2>
            <p>
                KL Rahul keeps his personal life private, and not much is known about his personal relationships. He is known to be an avid lover of various sports and is actively involved in fitness and training.
            </p>

            <h2>Achievements</h2>
            <p>
                KL Rahul has received recognition and accolades for his impressive performances on the cricket field. His ability to play multiple roles in the team, including opening the batting and keeping wickets, has made him a valuable asset in all formats of the game.
            </p>
        </article>
    </main>
    <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
</body>
</html>
