{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajinkya Rahane</title>
    <link rel="stylesheet" href="{% static 'css/player' %}">
</head>
<body>
    <header>
        <h1>Ajinkya Rahane</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/Rahane.jpeg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Ajinkya Rahane, born on June 6, 1988, in Mumbai, India, is a skilled right-handed batsman known for his technical proficiency and ability to anchor the innings. He made his debut for the Indian cricket team in 2011 and has been an important middle-order batsman for the team.
            </p>

            <h2>Playing Style</h2>
            <p>
                Ajinkya Rahane is known for his solid technique and the ability to play both pace and spin with ease. He is particularly strong against the fast bowlers and is capable of building big innings. He is also known for his calm and composed approach at the crease.
            </p>

            <h2>Indian Premier League (IPL)</h2>
            <p>
                In the Indian Premier League (IPL), Ajinkya Rahane has represented franchises like the Rajasthan Royals (RR) and the Delhi Capitals (DC). He has been a consistent performer in the league and has played some match-winning innings for his teams.
            </p>

            <h2>International Success</h2>
            <p>
                Ajinkya Rahane has been a vital part of India's Test team. He has performed exceptionally well in Test cricket, often playing crucial knocks in challenging conditions. He has also been a part of India's limited-overs teams and has made valuable contributions.
            </p>

            <h2>Personal Life</h2>
            <p>
                Ajinkya Rahane is a private person and keeps his personal life away from the media. He is admired for his dedication to the game and his humility both on and off the field.
            </p>
        </article>
    </main>
    <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
</body>
</html>
