{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruturaj Gaikwad</title>
    <link rel="stylesheet" href="{% static 'css/player' %}">
</head>
<body>
    <header>
        <h1>Ruturaj Gaikwad</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/Ruturaj.jpeg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Ruturaj Gaikwad, born on January 31, 1997, in Pune, Maharashtra, India, is a talented right-handed batsman known for his elegant strokeplay and consistency. He made his debut for the Indian cricket team in 2020 and has been considered a rising star in Indian cricket.
            </p>

            <h2>Playing Style</h2>
            <p>
                Ruturaj Gaikwad is known for his classical batting style and has a wide range of shots in his arsenal. He is particularly strong through the off-side and has the ability to play both pace and spin with ease. He is known for his ability to build innings and accelerate when needed.
            </p>

            <h2>Indian Premier League (IPL)</h2>
            <p>
                In the Indian Premier League (IPL), Ruturaj Gaikwad represents the Chennai Super Kings (CSK). He has been praised for his performances in the league and has become a vital cog in the CSK batting lineup.
            </p>

            <h2>International Debut</h2>
            <p>
                Ruturaj Gaikwad earned his maiden call-up to the Indian team in 2020. He has shown great promise in the limited opportunities he has received and is seen as a promising talent for the future.
            </p>

            <h2>Personal Life</h2>
            <p>
                Ruturaj Gaikwad keeps his personal life private and focuses on his cricketing career. He is known for his dedication to the game and his calm demeanor on and off the field.
            </p>
        </article>
        <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
    </main>
</body>
</html>
