{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanju Samson</title>
    <link rel="stylesheet" href="{% static 'css/player' %}">
</head>
<body>
    <header>
        <h1>Sanju Samson</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/Sanju.jpeg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Sanju Samson, born on November 11, 1994, in Trivandrum, Kerala, India, is an exciting right-handed wicket-keeper batsman known for his aggressive batting style. He made his debut for the Indian cricket team in 2015 and has been considered a promising young talent in Indian cricket.
            </p>

            <h2>Playing Style</h2>
            <p>
                Sanju Samson is known for his attacking approach to batting and is particularly strong in the T20 format. He has a wide range of shots and is capable of clearing the boundaries with ease. As a wicket-keeper, he is agile and has taken some spectacular catches behind the stumps.
            </p>

            <h2>Indian Premier League (IPL)</h2>
            <p>
                In the Indian Premier League (IPL), Sanju Samson represents the Rajasthan Royals (RR). He has been one of the key players for the franchise and has played some match-winning innings for them.
            </p>

            <h2>International Opportunities</h2>
            <p>
                Sanju Samson has been given opportunities in limited-overs cricket for India. He has shown glimpses of his talent and has impressed with his performances.
            </p>

            <h2>Personal Life</h2>
            <p>
                Sanju Samson keeps his personal life private and focuses on his cricketing career. He is known for his dedication to the game and his passion for improving his skills.
            </p>
        </article>
        <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
    </main>
</body>
</html>
