{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuzvendra Chahal</title>
    <link rel="stylesheet" href="{% static 'css/player' %}">
</head>
<body>
    <header>
        <h1>Yuzvendra Chahal</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'images/SuryakumarYadav.jpeg' %}" alt="">
            <h2>Early Life and Career</h2>
            <p>
                Yuzvendra Chahal, born on July 23, 1990, in Jind, Haryana, India, is a talented leg-spinner known for his skill in extracting turn and deceiving batsmen. He made his debut for the Indian cricket team in 2016 and quickly rose to prominence with his impressive performances.
            </p>

            <h2>International Success</h2>
            <p>
                Yuzvendra Chahal has been a key member of India's bowling attack in limited-overs cricket. He has played a vital role in the team's success with his ability to pick up wickets and control the flow of runs in the middle overs.
            </p>

            <h2>Indian Premier League (IPL)</h2>
            <p>
                Chahal has also been a standout performer in the Indian Premier League (IPL). Representing the Royal Challengers Bangalore (RCB), he has consistently been among the leading wicket-takers in the tournament, making him an indispensable asset to the franchise.
            </p>

            <h2>Personal Life</h2>
            <p>
                Yuzvendra Chahal keeps his personal life private and focuses on his cricketing career. He is known for his disciplined approach to the game and his dedication to improving his skills.
            </p>

            <h2>Playing Style</h2>
            <p>
                Yuzvendra Chahal is a wrist-spinner known for his flight and variations. He often bowls a well-disguised googly and has the ability to control the game's tempo with his economical bowling.
            </p>
        </article>
        <h1><a href="{% url 'indianteam' %}">BACK</a></h1>
    </main>
</body>
</html>
